<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.terminalemulation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
                                   
    <application
        android:allowBackup="true"
        android:icon="@drawable/appico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.example.android.softkeyboard.SoftKeyboard"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD" >
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name="com.te.UI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.te.UI.SessionSettings"
            android:label="@string/title_activity_settings" 
            android:screenOrientation="portrait"
            android:parentActivityName="com.te.UI.MainActivity"/>
                
        <activity
            android:name="com.te.UI.SessionSecondSettings"
            android:label="@string/title_activity_second_settings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.te.UI.SessionSettings"/>

        <activity
            android:name="com.te.UI.Session3rdSettings"
            android:screenOrientation="portrait"
            android:parentActivityName="com.te.UI.SessionSecondSettings"/>
        
        <activity android:name="com.te.UI.barcodetest" >
        </activity>
        <activity
            android:name="com.te.UI.SymbolActivity"
            android:label="@string/title_activity_symbol"
            android:screenOrientation="portrait"
            android:parentActivityName="com.te.UI.SessionSecondSettings">
        </activity>
    </application>
</manifest>
